<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.moneyhub.web.exr.ExrateMapper">

 	<select id="createExrate" parameterType="map">
		${CREATE_EXRATE}
	</select>
	
	<select id="deleteExrate" parameterType="map">
		${DROP_EXRATE}
	</select>
	
	<select id="truncateExrate" parameterType="map">
		${TRUNCATE_EXRATE}
	</select>
	
	<insert id="insertExrate" parameterType="Exrate">
	    INSERT INTO EXRATE ( BDATE, CNTCD, EXRATE, CRTMEM ) VALUES (
	    	#{bdate}, #{cntcd}, #{exrate}, #{crtmem}
	    )
	</insert>
	
<!-- 	<select id="searchExrate" resultType="Exrate">
		SELECT * FROM EXRATE WHERE CNTCD LIKE #{cntcd}
	</select> -->
	
	<select id="searchExrate" resultType="Exrate">
		SELECT * 
		FROM EXRATE 
		WHERE CNTCD LIKE #{cntcd}
		ORDER BY bdate DESC
		limit 0, 10 
	</select>
	
</mapper>