<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.moneyhub.web.exr.ExrateMapper">

 	<select id="createExrate" parameterType="map">
		${CREATE_EXRATE}
	</select>
	
	<select id="deleteExrate" parameterType="map">
		${DROP_EXRATE}
	</select>
	
	<select id="truncateExrate" parameterType="map">
		${TRUNCATE_EXRATE}
	</select>
	
	<insert id="insertExrate" parameterType="Exrate">
	    INSERT INTO EXRATE ( BDATE, CNTCD, EXRATE, CRTMEM ) VALUES (
	    	#{bdate}, #{cntcd}, #{exrate}, #{crtmem}
	    )
	</insert>
	
	<select id="getExchangeFee" resultType="map">
		SELECT * 
		FROM EXCHANGEDB 
		where SDATE = (SELECT MAX(SDATE) FROM EXCHANGEDB )
	</select>
<!-- 	<select id="searchExrate" resultType="Exrate">
		SELECT AMNT FROM EXCHANGEDB WHERE CNTCD LIKE #{cntcd}
	</select> -->
	
	<select id="cntcdSearchExrate" resultType="Exrate">
		<!-- SELECT * 
		FROM EXRATE 
		WHERE CNTCD LIKE #{cntcd}
		ORDER BY bdate DESC
		limit 0, 10 -->
		<!--  --> 
		SELECT *
		FROM (SELECT * FROM EXRATE WHERE CNTCD = #{cntcd}) A
		WHERE A.SEQ IN (SELECT MAX(SEQ)
						FROM (SELECT *
								FROM EXRATE
								WHERE CNTCD = #{cntcd}) B
								GROUP BY bdate)
		ORDER BY BDATE DESC
		LIMIT 0,10
	</select>
	
	<select id="bdateSearchExrate" resultType="Exrate">
		SELECT * 
		FROM EXRATE 
		WHERE BDATE LIKE #{bdate}
	</select>
	
	<select id="exchangeTestSelect" resultType="Exrate">
		SELECT *
		FROM EXRATE
		WHERE CNTCD = 'USD' OR CNTCD = 'EUR' OR CNTCD = 'AUD' OR CNTCD = 'CNY' OR CNTCD = 'JPY'
		ORDER BY BDATE
	</select>
</mapper>