<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.moneyhub.web.remit.mappers.RCPTMapper">
	<select id="rcptInfo" resultType="RCPT" >
		select R.* 
		from RCPT R, CUSTOMER C
		WHERE R.CNO = C.CNO
	</select>
	
	<select id="createRCPT" parameterType="map">
		${CREATE_RCPT}
	</select>
	
	<select id="deleteRCPT" parameterType="map">
		${DROP_RCPT}
	</select>
</mapper>