<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.moneyhub.web.remit.mappers.RemitMapper">
	 <insert id="insertFee" parameterType="Fee">
	    INSERT INTO FEE ( BSDATE, MTCN, CNO,FEE_AMNT,CRTMEM,CRTDT) VALUES (
	    	#{bsdate}, #{mtcn}, #{cno}, #{feeAmnt}, #{crtmem},#{crtdt}
	    )
	</insert>
	<insert id="insertRCPT" parameterType="RCPT">
	    INSERT INTO RCPT ( BSDATE, MTCN, CNO, RCP,RCP_DT,CNTP,PASS_NAME,PASS_FNM,PASS_LNM,RCEMAIL,CRTMEM,CRTDT ) 
	    VALUES ( 
	    #{bsdate}, #{mtcn}, #{cno}, #{rcp},#{rcpDt},#{cntp}, #{passName},#{passFnm}, #{passLnm},#{rcemail}, #{crtmem},#{crtdt}
	    )
	</insert>
	<insert id="insertTRDHR" parameterType="TRDHR">
	    INSERT INTO TRDHR (BSDATE, MTCN, CNO, TRD_STAT_CD, TRD_TYPE_CD, CHNG_CAUS_CD, TRD_SND, TRD_RCV, ACCT_NO,CNTCD,EXRATE,CRTMEM,CRTDT ) 
	    VALUES ( 
	    #{bsdate}, #{mtcn}, #{cno},#{trdStatCd},#{trdTypeCd},#{chngCausCd}, #{trdRcv},#{trdSnd}, #{acctNo},#{cntcd},#{exrate},#{crtmem},#{crtdt}
	    )
	</insert>
	<insert id="insertTRD" parameterType="TRD">
	   INSERT INTO TRD (BSDATE, MTCN, CNO, TRD_STAT_CD, TRD_TYPE_CD, CHNG_CAUS_CD, TRD_SND,TRD_RCV,ACCT_NO,CNTCD,EXRATE,CRTMEM,CRTDT ) VALUES (
	    	#{bsdate}, #{mtcn}, #{cno},#{trdStatCd},#{trdTypeCd},#{chngCausCd}, #{trdRcv},#{trdSnd},  #{acctNo},#{cntcd},#{exrate},#{crtmem},#{crtdt}
	    )
	</insert>
</mapper>