<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.moneyhub.web.remit.mappers.TRDHRMapper">
	<select id="selectAll" resultType="Map"  parameterType="PageProxy">
		SELECT C.CNO cno, T.BSDATE bsdate, T.MTCN mtcn, T.TRD_RCV trdRcv,
				T.TRD_SND trdSnd, T.CNTCD cntCd, T.EXRATE exrate, T.TRD_TYPE_CD trdTypeCd,
				R.CNTP cntp, R.PASS_NAME passName
		FROM ( SELECT C.CNO 
				FROM CUSTOMER C 
				WHERE CNO = #{cno}
				) C,TRDHR T, RCPT R
		WHERE T.CNO = C.CNO 
		AND C.CNO = R.CNO
		AND T.MTCN = R.MTCN
		ORDER BY BSDATE DESC
		LIMIT ${startRow}, ${pageSize}
	</select>
	<select id="countTRDHR" resultType="String" parameterType="PageProxy">
		select count(*)
		from ( SELECT C.CNO 
				FROM CUSTOMER C 
				WHERE CNO = #{cno}
				) C,TRDHR T
		WHERE T.CNO = C.CNO
	</select>
	<select id="createTRDHR" parameterType="map">
		${CREATE_TRDHR}
	</select>
	
	<select id="deleteTRDHR" parameterType="map">
		${DROP_TRDHR}
	</select>
</mapper>