<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="com.moneyhub.web.admin.AdminMapper">
	<select id="memberPieChart" resultType="String">		
		SELECT DISTINCT AGE FROM CUSTOMER
	</select>	
	
	<select id="memberPieChartCount" resultType="String">
		SELECT COUNT(AGE) FROM CUSTOMER
		WHERE AGE = #{age}		
	</select>

</mapper>