<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="com.moneyhub.web.admin.AdminMapper">
	<!-- <select id="memberPieChart" resultType="map">		
		<![CDATA[
			SELECT 
			DISTINCT (SELECT DISTINCT 10 FROM CUSTOMER 
				WHERE AGE<20 AND 10<=AGE) AS '10',
				(SELECT DISTINCT 20 FROM CUSTOMER 
				WHERE AGE<30 AND 20<=AGE) AS '20',
			    (SELECT DISTINCT 30 FROM CUSTOMER 
				WHERE AGE<40 AND 30<=AGE) AS '30',
			    (SELECT DISTINCT 40 FROM CUSTOMER 
				WHERE AGE<50 AND 40<=AGE) AS '40',
			    (SELECT DISTINCT 50 FROM CUSTOMER 
				WHERE AGE<60 AND 50<=AGE) AS '50',
			    (SELECT DISTINCT 60 FROM CUSTOMER 
				WHERE AGE<70 AND 60<=AGE) AS '60',
			    (SELECT DISTINCT 70 FROM CUSTOMER 
				WHERE AGE<80 AND 70<=AGE) AS '70',
			    (SELECT DISTINCT 80 FROM CUSTOMER 
				WHERE AGE<90 AND 80<=AGE) AS '80',
			    (SELECT DISTINCT 90 FROM CUSTOMER 
				WHERE AGE<100 AND 90<=AGE) AS '90'
			FROM CUSTOMER ORDER BY AGE
		]]>
		
	</select>-->
		
	<select id="memberPieChartCount" parameterType="string" resultType="string">
		SELECT COUNT(AGE) FROM CUSTOMER
		WHERE 
		<![CDATA[
			AGE < #{value} AND #{value}-10 < AGE
		]]>
	</select>
	
	<select id="feeDBChart" resultType="string">
	<![CDATA[
		SELECT DISTINCT (BSDATE) 
		FROM FEE
		ORDER BY BSDATE+0
	]]>	
	</select>
	
	<select id="feeDBChartAMNT" parameterType="string" resultType="string">
		SELECT SUM(FEE_AMNT) FROM FEE	
		WHERE BSDATE LIKE #{value}
	</select>
	
	<select id="feeChartOneAMNT" parameterType="string" resultType="string">
	<![CDATA[
		SELECT SUM(FEE_AMNT) FROM FEE	
		WHERE BSDATE LIKE #{value} AND FEE_STAT_CD = '1'
	]]>
	</select>
	
	<select id="feeChartTwoAMNT" parameterType="string" resultType="string">
	<![CDATA[
		SELECT SUM(FEE_AMNT) FROM FEE	
		WHERE BSDATE LIKE #{value} AND FEE_STAT_CD = '2'
	]]>
	</select>
	
	<select id="adminLogin" resultType="Admin">
		SELECT *
		FROM ADMIN
		WHERE AMAIL = #{amail} AND PWD = #{pwd}
	</select>
	
	<select id="memberList" resultType="map">
		<![CDATA[
		SELECT CNO, CEMAIL, CNAME, CPWD , AGE, DATE_FORMAT(SDATE, "%Y/%m/%d") AS SDATE, CSTCD 
		FROM CUSTOMER
		]]>
	</select>
	
	<update id="memberUpdate" parameterType="Admin">
		UPDATE CUSTOMER
		SET CEMAIL = #{cemail},
		CPWD = #{cpwd},
		CNAME = #{cname},
		CSTCD = #{cstcd}
		WHERE CNO = #{cno}
	</update>
	
	<select id="feeSelectOne" resultType="string">
	<![CDATA[
		SELECT AMNT FROM FEEDB	
		WHERE FEETYPCD = '1'
		ORDER BY SEQ
		DESC LIMIT 1
	]]>
	</select>
	
	<select id="feeSelectTwo" resultType="string">
	<![CDATA[
		SELECT AMNT FROM FEEDB	
		WHERE FEETYPCD = '2'
		ORDER BY SEQ
		DESC LIMIT 1
	]]>
	</select>
	
	<insert id="feeUpdateOne" parameterType="map">
		INSERT INTO FEEDB (FEETYPCD, AMNT)
		VALUES (1, #{feeOneValue})
	</insert>
	
	<insert id="feeUpdateTwo" parameterType="map">
		INSERT INTO FEEDB (FEETYPCD, AMNT)
		VALUES (2, #{feeTwoValue})
	</insert>
	
	<select id="exchangeDBSelect" resultType="string">
	<![CDATA[
		SELECT AMNT FROM EXCHAGEDB
		ORDER BY SEQ
		DESC LIMIT 1
	]]>
	</select>
	
	<insert id="exchangeDBUpdate" parameterType="map">
		INSERT INTO EXCHAGEDB (AMNT)
		VALUES (#{exchangeDBValue})
	</insert>
	
</mapper>

